*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, sans-serif;
    background-color: #06060c;
    color: #5c6e8e;
    line-height: 1.6;
    padding: 20px;
    display: flex;
    justify-content: center;
}

.calculator{
    background-color: #1e1e2f;
    margin-top: 100px;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.calculator textarea{
    width: 100%;
    height: 60px;
    padding: 20px;
    margin-bottom: 20px;
    border: none;
    border-radius: 5px;
    font-size: 1.2em;
    background-color: #2c2c3e;
    color: #ffffff;
}
.calculator button{
    width: 60px;
    height: 40px;
    margin: 5px;
    border: none;
    border-radius: 5px;
    font-size: 1.2em;
    background-color: #4a4a6a;
    color: #ffffff;
    cursor: pointer;
}
.calculator button:hover{
    background-color: #6a6a8a;
}